{% extends "base.html" %}
{% load static %}

{% block title %}
案例详情
{% endblock %}

{% block content %}
<link href="{% static 'css/products.css' %}" rel="stylesheet">
<!-- 主体内容 -->
<div class="container">
    <div class="model-details-product-title">
        {{product.title}}
    </div>
    <div class="model-details">
        {% for img in product.productImgs.all %}
        <div class="row-4">
            <img class="img-responsive" src="{{img.photo.url}}">
        </div>
        {% endfor %}
        <h3>产品介绍</h3>
        <p>
            {{product.description|linebreaks}}
        </p>
        <h3>演示视频</h3>
        {% for v in product.productImgs.all %}
         <video class="" controls>
            <source src="{{v.video.url}}" type="video/mp4">
        </video>
        {% endfor %}


    </div>
</div>
{% endblock %}